.container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  color: white;
  background-color: rgb(73, 202, 191);
}
.dayOfWeek {
}
.day {
  font-size: 140px;
  /*font-weight: bold;*/
}
.monthYear {
}
